@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: blue;
    --color-secondary: #ffe4e6;
    --color-base-100: #f0f9ff;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #059669;
    --color-secondary: #f43f5e;
    
    --color-accent: #10b981;
    --color-base-100: #0f172a;
    --color-base-200: #1e293b;
    --color-base-300: #334155;
}

.pri-font {
    font-family: "Comfortaa", sans-serif;
}

.sec-font {
    font-family: "Nunito", sans-serif;
}
