@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: blue;
    --color-base-100: #f0f9ff;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: black;
    --color-secondary: black;
    --color-accent: black;
    --color-base-100: black;
    --color-base-200: black;
    --color-base-300: black;
}

.pri-font {
    font-family: "Comfortaa", sans-serif;
}

.sec-font {
    font-family: "Nunito", sans-serif;
}
