@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #ff2056;
    --color-secondary: #ffe4e6;
    /* --color-accent: #c0f1f1; */
    --color-base-100: #f0f9ff;
    --color-banner1: #f0fdfa;
    --color-banner2: #f0fdf4;
    --color-banner3: #fef2f2;
    --color-banner4: #ecfdf5;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #ff2056;
    --color-secondary: #f43f5e;
    /* --color-accent: #10b981; */
    --color-base-100: #0f172a;
    --color-base-200: #1e293b;
    --color-base-300: #334155;
    --color-banner1: #99f6e4;
    --color-banner2: #bbf7d0;
    --color-banner3: #fecaca;
    --color-banner4: #a7f3d0;
}

.pri-font {
    font-family: "Comfortaa", sans-serif;
}

.sec-font {
    font-family: "Nunito", sans-serif;
}
